*{
  font-family: "Montserrat",sans-serif!important;
  box-sizing: border-box;
}

body{
  background-image: url("https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=996");

}

.any {
    color:yellow;
}

.nomral{
    color:black;
    text-decoration: none;
}